**#Task 1: Try the algo on Dataset2 - OneHotEncoding of features:
and Train test Division 75%-25%**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import libraries
import numpy as np
import pandas as pd

# import the data required
data = pd.read_csv("/content/drive/My Drive/Study/ML/Dataset2.csv")
print(data.head())

  Outlook Temp Wind Humidity Class
0       R    H    F   Normal     N
1       R    H    T     High     N
2       O    H    F   Normal     Y
3       S    M    F   Normal     N
4       S    M    F   Normal     Y

In [ ]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['Outlook', 'Temp','Wind','Humidity','Class'])
print(one_hot_encoded_data)

    Outlook_O  Outlook_R  Outlook_S  ...  Humidity_Normal  Class_N  Class_Y
0           0          1          0  ...                1        1        0
1           0          1          0  ...                0        1        0
2           1          0          0  ...                1        0        1
3           0          0          1  ...                1        1        0
4           0          0          1  ...                1        0        1
5           0          0          1  ...                0        0        1
6           1          0          0  ...                1        0        1
7           0          1          0  ...                1        0        1
8           0          1          0  ...                0        0        1
9           0          0          1  ...                0        0        1
10          0          1          0  ...                0        0        1
11          1          0          0  ...                0        0        1
12          1          0          0  ...                1        0        1
13          0          0          1  ...                1        1        0

[14 rows x 13 columns]

In [ ]:
from sklearn.model_selection import train_test_split

data_train, data_test= train_test_split(one_hot_encoded_data, test_size=0.25, random_state=94)
data_train.head()

    Outlook_O  Outlook_R  Outlook_S  ...  Humidity_Normal  Class_N  Class_Y
13          0          0          1  ...                1        1        0
1           0          1          0  ...                0        1        0
10          0          1          0  ...                0        0        1
6           1          0          0  ...                1        0        1
12          1          0          0  ...                1        0        1

[5 rows x 13 columns]

**Q1 - What will be the value of Play, if Outlook is ’Rainy’, Temperature is ’Mild’, Humidity =’Nor-
mal’, and Wind = ’False’?**

In [ ]:
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB, MultinomialNB
#Create a Classifier
model=MultinomialNB()
# Train the model using the training sets
model.fit(data_train.iloc[: , :-2],data_train["Class_Y"])
data_train.iloc[: , :-2]

    Outlook_O  Outlook_R  ...  Humidity_Low  Humidity_Normal
13          0          0  ...             0                1
1           0          1  ...             0                0
10          0          1  ...             0                0
6           1          0  ...             0                1
12          1          0  ...             0                1
3           0          0  ...             0                1
5           0          0  ...             1                0
0           0          1  ...             0                1
2           1          0  ...             0                1
11          1          0  ...             1                0

[10 rows x 11 columns]

In [ ]:
#Predict Output
predicted= model.predict([[0,1,0,0,0,1,1,0,0,0,1]])
print(predicted)

[0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  "X does not have valid feature names, but"

**Q2-What will be the value of Play, if Outlook is ’Sunny’, Temeprature is ’Cool’, Humidity =’High’,
and Wind = ’True’?**

In [ ]:
predicted = model.predict([[0,0,1,1,0,0,0,1,1,0,0]])
print(predicted)

[1]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  "X does not have valid feature names, but"

**Q3- Accuracy , precision and recall**

In [ ]:
#import the necessary module
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
#Train the model using the training sets
gnb.fit(data_train,data_train.Class_Y )
#Predict the response for test dataset
target_pred = gnb.predict(data_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(data_test.Class_Y, target_pred))

Accuracy: 1.0

In [ ]:
#Import confusion_matrix from scikit-learn metrics module for confusion_matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(data_test.Class_N, target_pred)

array([[0, 4],
       [0, 0]])

In [ ]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
precision = precision_score(data_test.Class_Y, target_pred, average=None)
recall = recall_score(data_test.Class_Y, target_pred, average=None)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))

precision: [1.]
recall: [1.]

**#Task 2: Apply algorithm on wine dataset - LabelEncoding of
features: and Train test Division 80%-20%**

In [ ]:
from sklearn.datasets import load_wine
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [ ]:
from sklearn import preprocessing 
# label_encoder object knows how to understand word labels.
le = preprocessing.LabelEncoder()
df["quality"] = le.fit_transform(df["quality"])
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        2
1               7.8             0.880         0.00  ...       0.68      9.8        2
2               7.8             0.760         0.04  ...       0.65      9.8        2
3              11.2             0.280         0.56  ...       0.58      9.8        3
4               7.4             0.700         0.00  ...       0.56      9.4        2
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        2
1595            5.9             0.550         0.10  ...       0.76     11.2        3
1596            6.3             0.510         0.13  ...       0.75     11.0        3
1597            5.9             0.645         0.12  ...       0.71     10.2        2
1598            6.0             0.310         0.47  ...       0.66     11.0        3

[1599 rows x 12 columns]

In [ ]:
X_data_train, X_data_test= train_test_split(df, test_size=0.2, random_state=94)
X_data_train

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
627             8.8             0.600         0.29  ...       0.49      9.1        5
1427            7.6             0.410         0.33  ...       0.58     11.2        5
289            11.6             0.420         0.53  ...       0.95      9.2        5
1234            7.1             0.750         0.01  ...       0.40     12.8        6
1179            8.2             0.350         0.33  ...       0.81     11.0        6
...             ...               ...          ...  ...        ...      ...      ...
1347            7.2             0.655         0.03  ...       0.39      9.5        5
1381            6.8             0.830         0.09  ...       0.45      9.6        5
192             6.8             0.630         0.12  ...       0.61      9.5        5
338            12.4             0.490         0.58  ...       1.00     11.5        6
699            11.8             0.380         0.55  ...       0.62     10.8        6

[1279 rows x 12 columns]